---
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import ThreeCardGallery from "../components/3-Card-Gallery.astro";
import CardTabs from "../components/Card-Tabs.astro";
import Carousel from "../components/Carousel.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home</title>
		<style>
			body { background-color: white; margin: 0; font-family: Verdana, Geneva, Tahoma, sans-serif; }
		</style>
	</head>
	<body>
		<Navbar/>
		<Hero/>
		<ThreeCardGallery/>
		<CardTabs/>
		<Carousel/>
	</body>
</html>